@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mali:wght@300&family=Quicksand:wght@300&display=swap');
.resume-block{
    position: sticky;
    margin: 30px;
}

.resume-text{
    color:#4a6163;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}
